<div class="col-xs-12 col-sm-4 text-center">
		<%= image_tag 'church2008.jpg', :class => 'img-responsive' %>
</div>

<br class="clr" />

<h1>"Our mission is to know, love and serve God and to make Jesus Christ known and visible."</h1>

<br class="clr" />

<div id="amznCharityBanner" style="position: relative">
      <div><a href="http://smile.amazon.com/ch/38-1561922" target="_blank"><img src='https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png' id="banner" style="border-style: none;" /></a></div>

<h2>Want to help St. Mary’s Youth Ministry?</h2>

<h4>When shopping Amazon.com choose St. Mary Queen of Creation</h4>

<p>What is AmazonSmile?</p>

<p>AmazonSmile is a website operated by Amazon that lets customers enjoy the same wide selection of products, low prices, and convenient shopping features as on Amazon.com. The difference is that when customers shop on AmazonSmile (smile.amazon.com), the AmazonSmile Foundation will donate 0.5% of the price of eligible purchases to the charitable organizations selected by customers.<p>

<p>How does AmazonSmile work?</p>

<p>When first visiting AmazonSmile, customers are prompted to select a charitable organization from almost one million eligible organizations. You can easily choose St. Mary Queen of Creation by clicking on the AmazonSmile link on the home page of our parish website.  For eligible purchases at AmazonSmile, the AmazonSmile Foundation will donate 0.5% of your purchase price to St. Mary which will provide a benefit to our St. Mary’s Youth Ministry.</p>